.control-bar {
  display: flex;
  flex-shrink: 0;
  gap: 10px;
  justify-content: center;
  padding: 10px;

  .control-button {
    align-items: center;
    display: flex;
    gap: 4px;
    padding: 8px 12px 8px 8px;
  }

  .control-button-icon {
    display: block;
    flex-shrink: 0;
    height: 24px;
    width: 24px;
  }

  .control-button[data-disabled] {
    border-color: rgba(158, 133, 64, 0.35);
  }
}
